
.ui-dashboard-column{
	margin: 10px;
	width: 450px
} 
.ui-panel .ui-panel-titlebar{
	font-size: 0.7em;
	font-style: italic;
}
.ui-panelmenu .ui-panelmenu-header{
	font-size: 0.7em;
}

.ui-panelmenu .ui-menuitem-text{
	font-size: 0.7em;
	font-weight: lighter;
}

.ui-panelmenu .ui-panelmenu-panel{
	width: 220px;
}

.ui-datatable table a{
	font-size: 0.6em;
}

.ui-button .ui-button-text{
	font-size: 0.8em;
}

.ui-dialog .ui-dialog-titlebar{
	font-size: 0.8em;
}

td{
	font-size: 0.7em;
}